## Hackerrank Python Basic Test cases

In [ ]:
#Task1
#Given an integer, , perform the following conditional actions:
#If  is odd, print Weird
#If  is even and in the inclusive range of  to , print Not Weird
#If  is even and in the inclusive range of  to , print Weird
#If  is even and greater than , print Not Weird

In [1]:
n=eval(input('Enter a number:'))
if n%2!=0:
    print('Weird')
else:
    if n<5:
        print('Not Weird')
    elif n>20:
        print('Not Weird')
    else:
        print('Weird')

Enter a number:18
Weird

The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:
The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.
Example
a=3
b=5
Print the following:
8
-2
15

In [4]:
a=3
b=5
add=a+b
sub=a-b
mul=a*b
print(add)
print(sub)
print(mul)

8
-2
15

Task 3 
The provided code stub reads two integers a and b.

Add logic to print two lines. The first line should contain the result of integer division a//b . 
The second line should contain the result of float division a /b 
No rounding or formatting is necessary

In [5]:
a=int(input('Enter the Value of A:'))
b=int(input('Enter the value of B:'))
print(a//b)
print(a/b)

Enter the Value of A:3
Enter the value of B:5
0
0.6

# LOOPS concept

Task4 Ask the user to enter a non negative number i.e. greater than 0
write a program to find the squre of te each number
example
if user enters number as 3
then 0,1,2 then print square of each number
0=0*0
1=1*1
4=2*2

In [17]:
n=int(input('Enter a number:'))
for i in range(0,n):
    print('The squre of {} is: {}'.format(i,i*i))

Enter a number:5
The squre of 0 is: 0
The squre of 1 is: 1
The squre of 2 is: 4
The squre of 3 is: 9
The squre of 4 is: 16


# is_leap Function

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.
Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. 
It is only necessary to complete the is_leap function.
The year can be evenly divided by 4, is a leap year, unless:
    The year can be evenly divided by 100, it is NOT a leap year, unless:
        The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, 
while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

In [1]:
def is_leap(year):
    leap = False    
    # Write your logic here
    if (year% 4 == 0) and (year% 400 == 0):
        leap = True
    elif (year% 4 == 0) and (year% 100 != 0):
        leap = True
    else:
        leap = False
    return leap

In [2]:
year = int(input())
year=is_leap(year)
print(year)

2024
True

In [ ]:
#Without using any string methods, try to print the following:
# 123...n note:... represents the consequtive number
# if the user enters 3 then the output should be 123
# if the user enters 5 then the output should be 12345

In [39]:
n=int(eval(input('Enter a number:')))
for i in range(1,n+1):# this will start the range from 1st iteration insted of 0 so adding a n+1 to get the desired output
    print(i,sep=' ',end='')

Enter a number:3
123

## list comprehension

In [1]:
x=2
y=2
z=2
n=2
l1=[[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k !=n ]
print(l1,end='')

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

# Runnerup Score

In [1]:
#runner up score = maximum score-1 i.e. second maximum score so if we enter 2,3,3,4,6,5 then 5 is the runner up score
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split()) # enter the values with space separater
    l=[]
    for i in arr:
        if i not in l:
            l.append(i)
    print(sorted(l,reverse=True)[1])

5
2 3 4 6 6 5
5

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example
python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The ordered list of scores is , so the second lowest score is . There are two students with that score: . Ordered alphabetically, the names are printed as:
The lowest grade of 37.2 belongs to Tina. The second lowest grade of 37.21 belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.
Berry
Harry

In [39]:
if __name__ == '__main__':
    record = []    
    scores = []
    result = []

    for _ in range(int(input())):
        name = input()
        score = float(input())

        record.append([name, score])
        scores.append(score)

    second_lowest = sorted(set(scores))[1]

    for name, score in record:
        if score == second_lowest:
            result.append(name)

    print(*sorted(result), sep='\n')

5
Harry
37.21
Berry
37.21
Tina
37.2
Harsh
49
Done
39
Berry
Harry

In [ ]:
The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

Example
3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
output 
56.00
Explanation
Marks for Malika are 52 56 60 whose average 52+56+60/3 is 56

In [34]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
l1=list(student_marks.get(query_name))
print('{:.2f}'.format(sum(l1)/len(l1)))

3
a 78 89 87
b 56 55 58
h 52 56 60
h
56.00

In [33]:
print('{:.2f}'.format(sum(l1)/len(l1)))

26.50

new task here